.cart-items {
  margin: 100px 120px;
}
.cart-items hr {
  height: 3px;
  background: #e2e2e2;
  border: none;
}
.cart-items-format-main {
  display: grid;
  grid-template-columns: 0.5fr 2fr 1fr 1fr 1fr 1fr;
  gap: 75px;
  align-items: center;
  padding: 20px 0px;
  color: #454545;
  font-size: 18px;
  font-weight: 600;
}
.cart-items-format {
  font-weight: 17px;
  font-weight: 600;
}
.cart-icon-product-icon {
  height: 62px;
}
.cart-icon-remove-icon {
  width: 15px;
  margin: 0px 40px;
  cursor: pointer;
}
.cart-item-quantity {
  width: 64px;
  height: 50px;
  border: 2px solid #ebebeb;
  background: white;
}
.cart-items-down {
  display: flex;
  margin: 100px 0px;
}
.cart-items-total {
  flex-basis: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-right: 200px;
  gap: 40px;
}
.cart-items-total-item {
  display: flex;
  justify-content: space-between;
  padding: 15px 0px;
}
.cart-items-total button {
  width: 262px;
  height: 58px;
  border: none;
  outline: none;
  color: #fff;
  background: #ff5a5a;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
}
.cart-items-promocode {
  flex-basis: 1;
  width: 100%;
  font-size: 18px;
  font-weight: 500;
}
.cart-items-promocode p {
  color: #555;
}
.cart-items-promocode-box {
  width: 500px;
  margin-top: 15px;
  height: 50px;
  background: #eaeaea;
}
.cart-items-promocode-box input {
  border: none;
  outline: none;
  background: transparent;
  padding: 20px;
  font-size: 16px;
  width: 330px;
  height: 50px;
}
.cart-items-promocode-box button {
  font-size: 16px;
  width: 170px;
  height: 50px;
  background-color: black;
  color: white;
  border: none;
}
