.product-display {
  display: flex;
  margin: 0px 120px;
}
.product-display-left {
  display: flex;
  gap: 17px;
}
.product-display-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.product-display-list img {
  height: 133px;
}
.product-display-main-img {
  width: 460px;
  height: 580px;
}
.product-display-right {
  margin: 0px 50px;
  display: flex;
  flex-direction: column;
}
.product-display-right h1 {
  color: #3d3d3d;
  font-size: 31px;
  font-weight: 700;
}
.product-display-right-stars {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-top: 13px;
  font-size: 16px;
  color: #c1c1c1;
}
.product-display-right-prices {
  display: flex;
  align-items: center;
  gap: 30px;
  margin: 25px 0px;
  font-size: 24px;
  font-weight: 700;
}
.old-price {
  color: #818181;
  text-decoration: line-through;
}
.new-price {
  color: #ff4141;
}
.product-display-right-sizes h1 {
  margin-top: 28px;
  color: #656565;
  font-size: 20px;
  font-weight: 600;
}
.product-display-right-size {
  display: flex;
  margin: 20px 0px;
  gap: 20px;
}
.product-display-right-size div {
  padding: 18px 24px;
  background: #fbfbfb;
  border: 1px solid #ebebeb;
  border-radius: 3px;
  cursor: pointer;
}
.product-display-right button {
  padding: 20px 40px;
  width: 200px;
  font-size: 16px;
  font-weight: 600;
  color: white;
  background: #ff4141;
  margin-bottom: 30px;
  border: none;
  outline: none;
  cursor: pointer;
}
.product-display-right-category {
  margin-top: 8px;
}
.product-display-right-category span {
  font-weight: 600;
}
